@model AdminDashboard
@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="content">
    <div class="cards">
        <a class="text-decoration-none" asp-action="Index" asp-controller="Product">
            <div class="card">
                <div class="box d-flex flex-column">
                    <label class="h4 fw-bold" asp-for="NumberofProducts"></label>
                    <label class="h4 fw-bold text-center">@Model.NumberofProducts</label>
                </div>
                <div class="icon-case">
                    <img src="/images/icons/products.png" alt="products" width="65px" height="65px">
                </div>
            </div>
        </a>
        <div class="card">
            <div class="box d-flex flex-column">
                <label class="h4 fw-bold" asp-for="NumberofOrders"></label>
                <label class="h4 fw-bold text-center">@Model.NumberofOrders</label>
            </div>
            <div class="icon-case">
                <img src="/images/icons/checkout.png" alt="orders" width="65px" height="65px">
            </div>
        </div>
        <div class="card">
            <div class="box d-flex flex-column">
                <label class="h4 fw-bold" asp-for="DonatedAmount"></label>
                <label class="h4 fw-bold text-center">R @Model.DonatedAmount</label>
            </div>
            <div class="icon-case">
                <img src="/images/icons/cash.png" alt="cash" width="65px" height="65px">
            </div>
        </div>
        <div class="card">
            <div class="box d-flex flex-column">
                <label class="h4 fw-bold" asp-for="NumberofOrphanages"></label>
                <label class="h4 fw-bold text-center">@Model.NumberofOrphanages</label>
            </div>
            <div class="icon-case">
                <img src="/images/icons/orphanage.png" alt="orphanage" width="65px" height="65px">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6 text-center">
            <div class="d-none PieChart">
                <label asp-for="VolunteerApps.NumberofApprovedApps" data-value="@Model.VolunteerApps.NumberofApprovedApps"></label>
                <label asp-for="VolunteerApps.NumberofPendingApps" data-value="@Model.VolunteerApps.NumberofPendingApps"></label>
                <label asp-for="VolunteerApps.NumberofRejectedApps" data-value="@Model.VolunteerApps.NumberofRejectedApps"></label>
            </div>
            <label class="d-none TotalApps" asp-for="@Model.VolunteerApps.NumbnerOfApplications" value="@Model.VolunteerApps.NumbnerOfApplications"></label>
            <h2>Volunteers</h2>
            <canvas id="volunteersChart" width="300" height="300"></canvas>
        </div>
        <div class="col-6 text-center">
            <h2>Subscribers List</h2>
            @if (ViewData["SubscribersList"] != null)
            {
                <ul id="subscribersList">
                    @foreach (var obj in Model.SubscribersList)
                    {
                        <li>@obj.Email has subscribed to get more updates</li>
                    }
                </ul>
            }
            else
            {
                <p>No subscribers yet.</p>
            }
        </div>
    </div>
</div>
<script>
    const pieChartLabel = [];
    const pieChartData = [];
    $(".PieChart").children().each(
        function () {
            pieChartLabel.push($(this).text());
            pieChartData.push($(this).attr("data-value"));
        }
    );
    var volunteersData = {
        labels: pieChartLabel,
        datasets: [{
            data: pieChartData,
            backgroundColor: ['green', 'red', 'yellow'],
        }]
    };
    var volunteersOptions = {
        responsive: true,
    };

    var volunteersChart = new Chart(document.getElementById("volunteersChart"), {
        type: 'pie',
        data: volunteersData,
        options: volunteersOptions
    });
</script>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}