@model IEnumerable<Transaction>
@{
    ViewData["Title"] = "CashDonation";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="p-4">
    @if (ViewData["CashDonationHistory"] != null)
    {
        <input id="NumberofItems" type="hidden" value="@Model.Count()" />
        <table class="table table-hover Catergory-table">
            <thead>
                <tr>
                    <th scope="col">First name</th>
                    <th scope="col">Last name</th>
                    <th scope="col">Type</th>
                    <th scope="col">DateCreated</th>
                    <th scope="col">Amount</th>
                    <th scope="col">&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var obj in Model)
                {
                    <tr class="category-row">
                        <td>@obj.FirstName</td>
                        <td>@obj.LastName</td>
                        <td>@obj.Type</td>
                        <td>@obj.DateCreated</td>
                        <td>@obj.Amount</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <div class="row mt-2">
            <div class="colsm-12 text-center">
                <p>No Cash donations has been made yet</p>
            </div>
        </div>
    }
</div>

